<head>
    <meta charset="UTF-8" />
    <title>InApp Envanter Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/inapp-1.0.0/src/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/inapp-1.0.0/src/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/inapp-1.0.0/src/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/inapp-1.0.0/src/assets/site.webmanifest">
    <link rel="stylesheet" href="/inapp-1.0.0/src/assets/scss/main.css">
    <style>
        @@font-face {
            font-family: tabler-icons;
            font-style: normal;
            font-weight: 400;
            src: url(https://cdn.jsdelivr.net/npm/@@tabler/icons-webfont@3.35.0/dist/fonts/tabler-icons.woff2) format("woff2");
        }
    </style>

    <script type="module" crossorigin src="/inapp-1.0.0/src/assets/js/main.js"></script>
</head>