
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="content" class="content py-10">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12">
                <div class="mb-6">
                    <h1 class="fs-3 mb-1">Dashboard</h1>
                    <p>Genel istatistikler burada görüntülenir.</p>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("_DashboardStatsTopComponentPartial")
        @await Component.InvokeAsync("_DashboardChartComponentPartial")
        @await Component.InvokeAsync("_DashboardTablesComponentPartial")
        @await Component.InvokeAsync("_DashboardActivityComponentPartial")
    </div>
</main>

