<!DOCTYPE html>
<html lang="tr">

    @await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
    <div id="overlay" class="overlay"></div>
    @await Component.InvokeAsync("_LayoutNavComponentPartial")
    @await Component.InvokeAsync("_LayoutAsideComponentPartial")
    @RenderBody()
</body>
</html>