<div class="row g-3 mb-3">
    <div class="col-lg-3 col-12">
        <div class="card p-4  bg-primary bg-opacity-10 border border-primary border-opacity-25 rounded-2">
            <div class="d-flex gap-3 ">
                <div class="icon-shape icon-md bg-primary text-white rounded-2">
                    <i class="ti ti-report-analytics fs-4"></i>
                </div>
                <div>
                    <h2 class="mb-3 fs-6">Minimum Sipariş Tutarı</h2>
                    <h3 class="fw-bold mb-0">₺@ViewBag.minOrderPrice</h3>
                    <p class="text-primary mb-0 small">Geçen aya göre %5 artış</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-12">
        <div class="card p-4  bg-success bg-opacity-10 border border-success border-opacity-25 rounded-2">
            <div class="d-flex gap-3 ">
                <div class="icon-shape icon-md bg-success text-white rounded-2">
                    <i class="ti ti-repeat fs-4"></i>
                </div>
                <div>
                    <h2 class="mb-3 fs-6">Maksimum Sipariş Tutarı</h2>
                    <h3 class="fw-bold mb-0">₺@ViewBag.maxOrderPrice</h3>
                    <p class="text-success mb-0 small">Geçen aya göre %22 artış</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-12">
        <div class="card p-4  bg-info bg-opacity-10 border border-info border-opacity-25 rounded-2">
            <div class="d-flex gap-3 ">
                <div class="icon-shape icon-md bg-info text-white rounded-2">
                    <i class="ti ti-currency-dollar fs-4"></i>
                </div>
                <div>
                    <h2 class="mb-3 fs-6">Ortalama Sipariş Tutarı</h2>
                    <h3 class="fw-bold mb-0">₺ViewBag.avgOrderPrice</h3>
                    <p class="text-info mb-0 small">Geçen aya göre %10 artış</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-12">
        <div class="card p-4  bg-warning bg-opacity-10 border border-warning border-opacity-25 rounded-2">
            <div class="d-flex gap-3 ">
                <div class="icon-shape icon-md bg-warning text-white rounded-2">
                    <i class="ti ti-notes fs-4"></i>
                </div>
                <div>
                    <h2 class="mb-3 fs-6">Toplam Sipari Tutarı</h2>
                    <h3 class="fw-bold mb-0">₺@ViewBag.sumOrderPrice</h3>
                    <p class="text-warning mb-0 small">Geçen aya göre %35 artış</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-lg-4 col-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex justify-content-between border-bottom pb-5 mb-3">
                    <div>
                        <h3 class="fw-bold h4">$25,458</h3>
                        <span>Toplam Kâr</span>
                    </div>
                    <div>
                        <i class="ti ti-layers-subtract fs-1 text-primary"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center small">
                    <div class="text-muted"><span class="text-success">+35%</span> geçen aya göre</div>
                    <div><a href="#" class="link-primary text-decoration-underline">Görüntüle</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex justify-content-between border-bottom pb-5 mb-3">
                    <div>
                        <h3 class="fw-bold h4">$45,458</h3>
                        <span>Toplam Ödeme İadeleri</span>
                    </div>
                    <div>
                        <i class="ti ti-credit-card fs-1 text-danger"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center small">
                    <div class="text-muted"><span class="text-danger">-20%</span> geçen aya göre</div>
                    <div><a href="#" class="link-primary text-decoration-underline">Görüntüle</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex justify-content-between border-bottom pb-5 mb-3">
                    <div>
                        <h3 class="fw-bold h4">$34,458</h3>
                        <span>Toplam Gider</span>
                    </div>
                    <div>
                        <i class="ti ti-cash-banknote fs-1 text-warning"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center small">
                    <div class="text-muted"><span class="text-warning">-20%</span> geçen aya göre</div>
                    <div><a href="#" class="link-primary text-decoration-underline">Görüntüle</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
